body {
	background: #444;
}

header {
	display: flex;
	flex-direction: column;
	align-items: center;
}
h1 {
	text-align: center;
	font-family: sans-serif;
	font-size: 2.4rem;
	color: #fff;
}

.search {
	margin: 50px 0;
	font-size: 1.5rem;
	color: #fff;
}

#txt_search{
	margin-left: 10px;
	padding: 10px;

	font-size: 1.2rem;
	background: #ddf;
	border: none;
	outline: none;
}

#root {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

	max-width: 300px;
	margin: 10px;
	padding: 10px;

	text-align: center;
	background: #888;
}

img {
	width: 200px;
}

a {
	padding:5px 10px;

	text-decoration: none;

	border-radius: 5px;
	background: #aaf;
	color: #000;
}
